@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "_TalkLayout";
}

@*<script src="//cdn.jsdelivr.net/npm/vivus@latest/dist/vivus.min.js"></script>*@
    <link href="~/css/luck.css" rel="stylesheet" />

    <div style="padding-top:5em; padding-bottom:10em">
        <!-- This should work everywhere -->
        <object type="image/svg+xml" data="Luck_animated.svg"></object>

        <!-- This might be clunky -->
        <img src="~/images/Luck_animated.svg" />
        <!-- Copy pasting your animated SVG to use it inline -->
    </div>

