@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_TalkLayout";
}

<div class="container">
    <h1>Submit Maritime satistics</h1>
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                    <span class="card-title">Current project</span>
                    <p>
                        I've been part of the team working on this for the best part of a year.
                    </p>
                    <div class="video-container">

                        <iframe width="853" height="480" src="https://www.youtube.com/embed/K0SldHvxRN4" frameborder="0" allowfullscreen></iframe>
                    </div>

                </div>
                <div class="card-action">
                    <a href="https://maritimestatistics.dft.gov.uk/" target="_blank">Submit Maritime Statistics</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#test1">The team</a></li>
                <li class="tab col s3"><a href="#test2">How do we work ?</a></li>
            </ul>
        </div>
        <div id="test1" class="col s12">
            <div class="collection">
                <a href="#!" class="collection-item"><span class="badge">Adrian, Gemma, Steve</span>Deliver manager</a>
                <a href="#!" class="collection-item"><span class="badge">Seb</span>Business Analyst</a>
                <a href="#!" class="collection-item"><span class="badge">Miles, Phoebe, Zara, Govinda</span>User researcher</a>
                <a href="#!" class="collection-item"><span class="badge">Godwin, Mohamed</span>Designer</a>
                <a href="#!" class="collection-item"><span class="badge">Mike, Naresh, Santosh, Karishma, Jiga, Me</span>Developers</a>
                <a href="#!" class="collection-item"><span class="badge">Nikkie, Sylvia</span>Product owner</a>
            </div>
        </div>
        <div id="test2" class="col s12">
            <div class="collection">
                <a href="#modal1" class="collection-item waves-effect waves-green modal-trigger">Two week blocks</a>
                <a href="#modal2" class="collection-item waves-effect waves-green modal-trigger">Plan how much</a>
                <a href="#modal4" class="collection-item waves-effect waves-green modal-trigger">Day to day</a>
                <a href="#modal5" class="collection-item waves-effect waves-green modal-trigger">End of sprint</a>
                <a href="#" class="collection-item waves-effect waves-green modal-trigger">The cycle starts again!</a>
            </div>
        </div>
    </div>
</div>
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Sprints</h4>
        <p>The project is broken down into two week chunks</p>
        <div class="row">
            <div class="col s12 m7">
                <div class="card small">
                    <div class="card-image">
                        <img src="~/images/PF/backlog.jpg" class="materialboxed" />
                        <span class="card-title">A sprint</span>
                    </div>
                    <div class="card-content">
                        <p>
                            The product owner tells us what is the most important features to be developed. <a href="#modal3" class="waves-effect waves-green modal-trigger">What are features?</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <span class="white-text">
                         At the end of the two weeks we should have working functionality which we demonstrate in an 
                        informal meeting called a 'show and tell'.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="modal2" class="modal">
    <div class="modal-content">
        <h4>Sprint planning</h4>
        <p>We discuss as a team what the product owner wants to acheive within the next two weeks.</p>
        <div class="row">
            <div class="col s12 m7">
                <div class="card small">
                    <div class="card-image">
                        <img src="~/images/PF/sprintplanning.jpg" class="materialboxed" />
                        <span class="card-title">Sprint planning</span>
                    </div>
                    <div class="card-content">
                        <p>
                            The team gets together and discusses the priorities and shares information.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <span class="white-text">
                        The developers provide a technical estimate of how long things will take and
                        we decide, as a team, how much can be delivered within two weeks. 
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="modal4" class="modal">
    <div class="modal-content">
        <h4>Day to day</h4>
        <p>Within a sprint.</p>
        <div class="row">
            <div class="col s12 m7">
                <div class="card small">
                    <div class="card-image">
                        <img src="~/images/PF/Slack___port-freight-devs___Digital_Service___11_new_items copy.png" class="materialboxed" />
                        <span class="card-title">How we work</span>
                    </div>
                    <div class="card-content">
                        <p>
                            We have a quick meeting each day where we 'stand up'.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m7">
                <div class="card small">
                    <div class="card-image">
                        <img src="~/images/PF/kanbanBoard.jpg" class="materialboxed" />
                        <span class="card-title">Who does what?</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Each developer 'pulls' a post-it note with somethng to be written accross the columns.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <span class="white-text">
                        When the code is written and the requirement is met we test to make sure everything is working as we expected
                        and we haven't broken anything... Dev -> Test -> Live
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="modal5" class="modal">
    <div class="modal-content">
        <h4>Sprint planning</h4>
        <p>We discuss as a team what the product owner wants to acheive within the next two weeks.</p>
        <div class="row">
            <div class="col s12 m7">
                <div class="card small">
                    <div class="card-image">
                        <img src="~/images/PF/retro.jpg" class="materialboxed" />
                        <span class="card-title">Sprint Retro!!!!</span>
                    </div>
                    <div class="card-content">
                        <p>
                            We invite people in the organisation to see what we've done
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <span class="white-text">
                        We have an informal meeting... noramally everyone stands round a large 86" 
                        monitor and we demo the work we've been doing over the past two weeks. We invite people to ask questions and test assumptions.
                        We then discuss as a team; what went well, what didn't go well, what to try, and what to stop. 
                        We then release the completed features into the big wide world. 
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<div id="modal3" class="modal">
    <div class="modal-content">
        <h4>Features</h4>
        <p>
            
        </p>
        <div class="row">
            <div class="col s12 m7">
                <div class="card small">
                    <div class="card-image">
                        <img src="~/images/PF/UR_board.jpg" class="materialboxed" />
                        <span class="card-title">User research</span>
                    </div>
                    <div class="card-content">
                        <span>
                            These are the things that the userswant to be able todo.
                        </span>

                    </div>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="card-panel teal">
                    <span class="white-text">
                        These 'things'are collected by the user researchers (UR's) and roughly grouped together to create bodies of work.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">close</a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.tabs').tabs();
        $('.modal').modal();
        $('.materialboxed').materialbox();
    });
</script>
        
