@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    Layout = "_TalkLayout";
}
    <div class="container">
        <h1>School</h1>

        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="~/images/hizir-kaya-0q90Mumo-xE-unsplash.jpg" />
                    <div class="caption center-align">
                        <h3>Learning wasn't my thing</h3>
                        <h5 class="light grey-text text-lighten-3">I had to work hard to get C's</h5>
                    </div>
                </li>
                <li>
                    <img src="~/images/mostafa-meraji-Hu3NNge_kj4-unsplash.jpg" />
                    <div class="caption left-align">
                        <h3>No idea </h3>
                        <h5 class="light grey-text text-lighten-3">What I wanted to do </h5>
                    </div>
                </li>
                <li>
                    <img src="~/images/mostafa-meraji-KFcVG3c2J3g-unsplash.jpg" />
                    <div class="caption right-align">
                        <h3>Right Aligned Caption</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="~/images/satyam-bhuyan-eYJ5yxMJuB4-unsplash (1).jpg" />
                    <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
            </ul>
        </div>

    </div>
<script>
   
  $(document).ready(function(){
    $('.slider').slider();
  });
</script>