@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_TalkLayout";
}

<div class="container">
    <div class="row" style="padding-top: 5em; padding-bottom: 5em">
        <div class="col-xs-3 col s12 m3">
            <div class="card large ">
                <div class="card-image">
                    <img src="~/images/Work/badgersWatch.jpg" style="max-height: 200px; min-height: 200px"/>
                </div>
                <div class="card-content ">
                    <span class="card-title">The Badgers watch</span>
                    <p class="activator">
                        Whilst at collage worked part time at the Badgers Watch and fell into a full time job when my Art a levels finished.
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Roles<i class="material-icons right">close</i></span>
                    <ul>
                        <li>- Pot wash</li>
                        <li>- Barman</li>
                        <li>- Waiter</li>
                        <li>- Cook</li>
                        <li>- Assistant manager</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col s12 m3">
            <div class="card large">
                <div class="card-image">
                    <img src="~/images/Work/dbpix-co-op-bank-tmagArticle.jpg" style="max-height: 200px; min-height: 200px"/>
                </div>
                <div class="card-content">
                    <span class="card-title">The Co-Operative bank</span>
                    <p class="activator">
                        December 2004 I moved to the Co-Operative bank.
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Roles<i class="material-icons right">close</i></span>
                    <ul>
                        <li>- Cashier</li>
                        <li>- Advisor</li>
                        <li>- Financial advsor exams</li>
                        <li>- Financial & Mortgage advsor</li>
                        <li>- Was part of a national pilot</li>
                        <li>- Not a natural salesman</li>
                    </ul>
                    <div class="row">
                        <div class="col-xs-3 col s12">
                            <div class="card-content">
                                <div class="card-image">
                                    <img class="materialboxed" src="~/images/Work/meVespa.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col s12 m3">
            <div class="card large">
                <div class="card-image">
                    <img src="~/images/Work/lewesprison.jpg" style="max-height: 200px; min-height: 200px"/>
                </div>
                <div class="card-content">
                    <span class="card-title">Prison Service</span>
                    <p class="activator">
                        1st September 2008 I joined the Prison Service, part of the Civil Service, at HMP Lewes as a Prison Officer.
                    </p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Roles<i class="material-icons right">close</i></span>
                    <div class="row">
                        <div class="col-xs-3 col s12">
                            <div class="card-content">
                                <div class="card-image">
                                    <img class="materialboxed" src="~/images/Work/P1010222.JPG" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col s12">
                            <div class="card-content">
                                <div class="card-image">
                                    <img class="materialboxed" src="~/images/Work/P1010226a.jpg" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col s12">
                            <div class="card-content">
                                <p>
                                    <ul>
                                        <li>In 2009 completed an NVQ Level 3 in Cusodial Care.</li>
                                        <li class="divider"></li>
                                        <li>Had many roles, tried hard to get experience.</li>
                                        <li class="divider"></li>
                                        <li>Started to learn VBA... this was the stepping stone to my current job.</li>
                                        <li class="divider"></li>
                                        <li>Started my degree in 2011.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-3 col s12 m3">
            <div class="card large">
                <div class="card-image">
                    <img src="~/images/Work/dft logo.jpg" style="max-height: 200px; min-height: 200px" />
                </div>
                <div class="card-content">
                    <span class="card-title">Department for Transport</span>
                    <p>
                        I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });
</script>