@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_TalkLayout";
}

    <div class="container">
        <div class="row" style="padding-top: 5em; padding-bottom: 5em">
            <div class="col-xs-3 col s12 m3">
                <div class="card large">
                    <div class="card-image">
                        <img src="~/images/Work/badgersWatch.jpg"/>
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col s12 m3">
                <div class="card large">
                    <div class="card-image">
                        @*<img src="~/images/Work/dbpix-co-op-bank-tmagArticle.jpg" style="height:250px"/>*@
                        <img src="~/images/Work/dbpix-co-op-bank-tmagArticle.jpg"/>
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col s12 m3">
                <div class="card large">
                    <div class="card-image">
                        @*<img src="~/images/Work/lewesprison.jpg" style="height:250px"/>*@
                        <img src="~/images/Work/lewesprison.jpg"/>
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col s12 m3">
                <div class="card large">
                    <div class="card-image">
                        @*<img src="~/images/Work/dft logo.jpg" style="height:250px"/>*@
                        <img src="~/images/Work/dft logo.jpg"/>
                        <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                        <p>
                            I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
