@{
    Layout = "_MasterLayout";
}
    <header>
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">
                    <img class="responsive-img" src="~/images/iconfinder_hight_alert_army_man_military_2969365.svg" />
                </a>
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons black-text">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Login</a></li>
                </ul>
            </div>
        </nav>
        <ul id="slide-out" class="sidenav">
            <li>
                
                <div class="user-view">
                    <div class="backgroun">
                        <a id="logo-container" href="#" class="brand-logo" style="margin-bottom:3px">
                            <img class="responsive-img" src="~/images/iconfinder_hight_alert_army_man_military_2969365.svg" />
                        </a>
                    </div>
                </div>
            </li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Into the breech!</a></li>
            <li><a class="waves-effect" href="#">Login</a></li>
            <li><a class="waves-effect" href="#">About</a></li>
            <li><a class="waves-effect" href="#">Contact</a></li>
        </ul>
        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br />
                    <h1 class="subheader center white-text text-darken-4">Into the breech!</h1>
                    <div class="row center">
                        <h5 class="subheader col s12 light">Your virtual display case</h5>
                    </div>
                    <div class="row center">
                        <a href="#" id="get-started" class="btn-large waves-effect waves-light black lighten-1">Get started</a>
                    </div>
                    <br />
                </div>
            </div>
            <div class="parallax z-depth-5">
                <img src="~/images/satyam-bhuyan-eYJ5yxMJuB4-unsplash (1).jpg" alt="Into the breech!" class="responsive-img" />
            </div>
        </div>
    </header>
<main>
    <div class="row margin-bottom-0px">
        <div class="col s12 padding-0px">
            @RenderBody()
        </div>
    </div>
</main>
<footer class="page-footer white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="brown-text">About us</h5>
                <p class="brown-text lighten-4">
                    Into the breech! is a virtual display case to share with others.
                </p>
            </div>
        </div>
        <div class="footer-copyright row margin-bottom-0pk white">
            <div class="col s12 grey-text">
                Built by Guineapigged.co.uk
            </div>
        </div>
    </div>
</footer>