@{ 
    Layout = "_MasterLayout";
}

<header class="secureLayout>
    <nav class="top-nav white">
        <div class="nav-wrapper row valign-wrapper">
            <h5><a class="page-title">Into the breech!</a></h5>
        </div>
    </nav>
</header>
